 th, td {
    padding: 4px 9px;
 }
th{
    background: #3e65b4;;
    text-transform: uppercase;
    padding:20px;
    color: white;
}

tr:nth-child(odd){ 
    background: #90beffb8;
}
tr:nth-child(even){
    background: #e6f0ff;
	}
table{
     border-collapse: collapse;
     border-spacing: 0;
 }


h4 {
    display:block;
}
.ag-theme-material {
    min-height: 500px;
}