<h1>Pharma History</h1>
<div fxLayout='row' style='height:70%;width:50%'>
  <ag-grid-angular fxFlex class='ag-theme-material' [rowData]="rowData$ | async" 
                                                    [columnDefs]="columnDefs"
                                                    enableColResize
                                                    enableSorting
                                                    enableFilter
                                                    (cellClicked)="onCellClicked($event)"
                                                > </ag-grid-angular>
  <mat-card *ngIf="selectedPrescription" class="data-table">
    <mat-card-header>
    <mat-card-title>
      {{selectedPrescription.indication}}
    </mat-card-title>
    <mat-card-subtitle>
      {{selectedPrescription.date_time | date:'shortDate'}}
    </mat-card-subtitle>
    </mat-card-header>
    {{selectedPrescription.patient.name}}
    {{selectedPrescription.doctor.id}}
    <table>
      <tr>
        <th>Drug </th>
        <th>Quantity </th>
        <th>Batch No.</th>
        <th>Quantity</th>
        <th>Expiry Date</th>
        <th>Rack</th>
      </tr>
      <ng-container *ngFor="let drugInfo of selectedDrugs">
      <tr >
        <td [attr.rowspan]="drugInfo.batchList.length + 1">{{drugInfo.name}}</td>
        <td [attr.rowspan]="drugInfo.batchList.length + 1">{{drugInfo.quantity}}</td>
      </tr>
      <tr *ngFor="let batch_info of drugInfo.batchList">
        <td>{{batch_info.batch.batch}}</td> <!-- *sigh* -->
        <td>{{batch_info.batch.quantity}}</td>
        <td>{{batch_info.batch.expiry_date | date:'shortDate'}}</td>
        <td>{{batch_info.batch.rack}}</td>
      </tr>
      </ng-container>
    </table>
  </mat-card>
</div>
