
<mat-expansion-panel color='primary'>
  <mat-expansion-panel-header>
    Add New Drug
  </mat-expansion-panel-header>
    <form fxLayout='column' [formGroup]="add_new_drug_form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Trade Name" formControlName='trade_name'>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Generic Name" formControlName='generic_name'>
      </mat-form-field>
      <button *ngIf="add_new_drug_form.status=='VALID'" mat-raised-button type='submit' color='warn'>Add</button>
    </form>
</mat-expansion-panel>
