h2.title{
  background-color: #039BE5;
  color:#ffffff80;
  font-weight:lighter;
  text-align: center;
  margin:0;
  padding:10px;
}



.diagnosis-header{
  padding:20px;
  background-color: #ecececcc;
}

.patient-name{
  color:#2cc3f5cc;
  font-size:23px;
}
.age{
  color:gray;
}



h4.queue-heading{
  background-color: #039be5;
  text-align: center;
  color:white;
  font-weight: 100;
  box-shadow: 0 0 1px black;
  margin:0;
  padding:10px;
}
.queue{
  background-color: #a7cfe31a;
}



.display-box{
  height:400px;
  border-right: 1px solid rgba(0,0,0,.12);
}
.display-box > *{
  height: 100%;
}
