<div fxLayout fxLayoutAlign="space-between">
  <div fxLayout='column'>
    <h1 style='text-align:center'>Workbench</h1>
    <div *ngIf="patientSet">
      <button mat-raised-button color='primary' (click)="displayLabRequestForm();">Request Lab Test</button>
      <lab-request [hidden]="!labRequestFormDisplayed"></lab-request>
    </div>
  </div>


  <div *ngIf="patientSet" fxLayout fxLayoutAlign='column' fxLayoutGap="10px">
    <app-profile-card fxFlex='50%' [bundle]="patient_details" brief='true'></app-profile-card>
    <mat-card fxFlex class="pres-table-container">
      <app-diagnosis></app-diagnosis>
    </mat-card>
  </div>

  <div fxFlex="20%" fxLayout='column'>
    <h2 class='queue-heading'>Waiting Room : <span style='color:white'>{{patient_queue.length}}</span></h2>
    <button mat-raised-button class='queue-card' *ngFor='let patient of patient_queue' (click)="setPatient(patient)">
      <b>{{patient.name}}</b><br/>
      ({{patient.patient_type}})
    </button>
  </div>
</div>
