p.title{
  background-color: #039BE5;
  color:#ffffff80;
  font-size: 30px;
  font-weight:lighter;
  text-align: center;
  margin:0;
  padding:10px;
}


.queue-heading{
  background-color: #039BE5;
  color:white;
  padding:15px;
  box-shadow: 0 5px black;
}
.queue-card div span{
  color:gray;
}
.selected-queue-card{
  background-color: #039BE580;
  color:white;
  font-size: 20px;
  font-weight: lighter;
}

.display-box{
  height:400px;
}

.display-box > *{
  height: 100%;
}
