p.title{
  background-color: #039BE5;
  color:#ffffff80;
  font-size: 30px;
  font-weight:lighter;
  text-align: center;
  margin:0;
  padding:10px;
}


 .queue-card{
  background-color:white;
  border:2px solid #039BE5;
}
.selected-queue-card{
  background-color: #039BE5;
  color:white;
  font-size: 17px;
  font-weight: bold;
}
.queue-heading{
  background-color: #039BE5;
  color:#ffffff80;
  border-radius:5px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-right:5px;
  margin-bottom: 0;
}
