/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";



html, body {
  box-sizing: border-box;
  padding:0px;
  margin:0px;
  height:100vh;
  height: 100%;
  font-family: 'Roboto',sans-serif;
}




button.member{
  background-color: Transparent;
  outline:none;
  color:black;
  width:350px;
  margin:20px;
  font-weight:lighter;
  border: 1px solid white;
  border-radius: 10px;
}

button.member:hover{
  opacity:0.5;
  cursor:pointer;
  background-color: black;
  color:white;
  border:1px solid black;
  font-weight:bold;
}
.def-shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.padded-container {
  margin: 20px;
  padding: 20px;
}
.main-container {
    margin:0px;
    padding: 0px;;
}
button[hidden]{
  display: none;
}
.small-grey-text {
  font-size: 14px;
  color: rgba(0,0,0,.54)
}


/**
*Used to show feedback whenever lists are empty
*/
p.empty-list{
  padding:20px;
  text-align: center;
  color:gray;
  font-weight: 100;
  font-size: 20px;
}
