mat-card-title{
    font-weight: bold;
}
.data-card {
    width:400px;
}
table {
    font-family: Sans-Serif;
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;
    margin: 20px;
    border-left: 1px solid #dadcfe;
    border-right: 1px solid #dadcfe;
    box-shadow:2px;
  }
  table th {
    font-size: 14px;
    font-weight: normal;
    background: #3f51b5;
    text-transform:uppercase;
    
    color: #fff;
    padding: 18px 28px;
  }
  
  table td {
   
    border-bottom: 1px solid #dadcfe;
    color: #000;
    padding: 15px 38px;
  }
.ag-theme-material {
  min-width: 600px;
  min-height: 500px;
}
.no-drugs{
  color:rgb(100,100,100);
  font-size:12px;
  text-align:center;
}
.empty-logo{
  border-radius:100%;
  width:200px;
  display:block;
  margin:auto;
}