<!--top nav toolbar-->
<app-main-toolbar [navLinks]="navLinks"></app-main-toolbar>

<div fxLayout fxLayoutAlign="space-around">

  <div fxFLex="20%"  class="incoming-requests-container">
    <h2>Incoming Requests</h2>
    <mat-nav-list>
      <mat-list-item *ngFor='let request of requests' (click)="setCurrentRequest(request)">
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line>{{ request.patient.name }}</span>
      </mat-list-item>
    </mat-nav-list>
    <p *ngIf="requests.length == 0" class="empty-list">List is Empty</p>
  </div>


  <div fxFLex *ngIf="currentRequest">
    <div class="report-header">
      <p class="patient-name">{{currentRequest.patient.name}}</p>
      <p class="doctor-name">Dr.{{currentRequest.doctor.person.name}}</p>
    </div>
   <form (ngSubmit)="onSubmit(form.value); reset()" #form="ngForm">
    <mat-tab-group >
      <mat-tab label="Lab Report 1">

        <table style="border-collapse:collapse">
          <tbody >
            <tr>
              <td rowspan='3' class="test-group">Blood Sugar </td>
              <td>Fasting</td>
              <td>70 - 105</td>
              <td>mg/dL</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.blood_sugar_fasting"><input   matInput ngModel name="blood_sugar_fasting"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>Random</td>
              <td>
                < 150</td>
                  <td>mg/dL</td>
                  <td>
                    <mat-form-field [hidden]="!currentRequest?.blood_sugar_random"><input   matInput ngModel name="blood_sugar_random"></mat-form-field>
                  </td>
            </tr>

            <tr>
              <td>Post-Pranadial</td>
              <td>100 - 150</td>
              <td>mg/dL</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.blood_sugar_post_prandial"><input  matInput ngModel name="blood_sugar_post_prandial"></mat-form-field>
              </td>
            </tr>
          </tbody>



          <tr>
            <td rowspan="7" class="test-group"></td>
            <td>Serum Urea</td>
            <td>10 - 55</td>
            <td>mg/dL</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.serum_urea"><input   matInput ngModel name="serum_urea"></mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Serum Creatinine</td>
            <td>0.6 - 1.4</td>
            <td>mg/dL</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.serum_creatinine" ><input matInput ngModel name="serum_creatinine"></mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Serum Cholestrol</td>
            <td>150-250</td>
            <td>mg/dL</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.serum_cholestrol"><input matInput ngModel name="serum_cholestrol"></mat-form-field>
            </td>
          </tr>

          <tr>
            <td>HDL</td>
            <td>35 - 55</td>
            <td>mg/dL</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.HDL" ><input  matInput ngModel name="HDL"></mat-form-field>
            </td>
          </tr>

          <tr>
            <td>LDL</td>
            <td>upto 150</td>
            <td>mg/dL</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.LDL"><input matInput ngModel name="LDL"></mat-form-field>
            </td>
          </tr>

          <tr>
            <td>TC/HDL</td>
            <td>2.5 - 5.0</td>
            <td>mg/dL</td>
            <td>
              <mat-form-field [hidden]='!currentRequest?.TC_HDL'><input matInput ngModel name="TC_HDL"></mat-form-field>
            </td>
          </tr>

          <tr>
            <td>Triglycerides</td>
            <td>60 - 165</td>
            <td>mg/dL</td>
            <td>
              <mat-form-field [hidden]='!currentRequest?.triglycerides'><input matInput ngModel name="triglycerides"></mat-form-field>
            </td>
          </tr>


          <tbody>
            <tr>
              <td rowspan="9" class="test-group">L.F.T.</td>
              <td>Serum Protein</td>
              <td>6.2 - 8.0</td>
              <td>gm/dL</td>
              <td>
                <mat-form-field [hidden]='!currentRequest?.LFT_serum_protein'><input matInput ngModel name="LFT_serum_protein"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>Serum Albumin</td>
              <td>3.5 - 5.5</td>
              <td>gm/Dl</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.LFT_serum_albumin"><input matInput ngModel name="LFT_serum_albumin"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>Serum Globulin</td>
              <td>2.3 - 3.5</td>
              <td>gm/dL</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.LFT_serum_globulin"><input matInput ngModel name="LFT_serum_globulin"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>A/G Ratio</td>
              <td>1.0 - 1.5</td>
              <td>gm/dL</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.LFT_A_G_ratio"><input matInput ngModel name="LFT_A_G_ratio"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>Total Bilirubin</td>
              <td>upto 1.2</td>
              <td>mg/dL</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.LFT_total_bilirubin"><input matInput ngModel name="LFT_total_bilirubin"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>Direct Bilirubin</td>
              <td>upto 0.4</td>
              <td>mg/dL</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.LFT_direct_bilirubin"><input matInput ngModel name="LFT_direct_bilirubin"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>Indirect Bilirubin</td>
              <td>0.75</td>
              <td>mg/dL</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.LFT_indirect_bilirubin"><input matInput ngModel name="LFT_indirect_bilirubin"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>SGOT</td>
              <td>46</td>
              <td>U/L</td>
              <td>
                <mat-form-field [hidden]='!currentRequest?.LFT_SGOT'><input matInput ngModel name="LFT_SGOT"></mat-form-field>
              </td>
            </tr>

            <tr>
              <td>SGPT</td>
              <td>49</td>
              <td>U/L</td>
              <td>
                <mat-form-field [hidden]="!currentRequest?.LFT_SGPT"><input matInput ngModel name="LFT_SGPT"></mat-form-field>
              </td>
            </tr>
          </tbody>
          <tr>
            <td class="test-group"></td>
            <td>Alkaline Phosphatase</td>
            <td>100 - 290</td>
            <td>U/L</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.alkaline_phosphatase"><input matInput ngModel name="alkaline_phosphatase"></mat-form-field>
            </td>
          </tr>
        </table>
      </mat-tab>

      <mat-tab label="Lab Report 2">
        <table>
          <tbody>
          <tr>
            <td rowspan='13' class="test-group">Blood</td>
            <td>Blood Group</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.blood_group"><input matInput name=blood_group></mat-form-field>
            </td>
          </tr>
          <tr>
            <td><R.H.</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.RH"><input matInput name=RH></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Complete Hemogram</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.complete_hemogram"><input matInput name=complete_hemogram></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>E.S.R.</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.ESR"><input matInput name=ESR></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>H.B.</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.HB"><input matInput name=HB></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Bleeding Time</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.bleeding_time"><input matInput name=bleeding_time></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Clotting Time</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.clotting_time"><input matInput name=clotting_time></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Blood Sugar Fasting</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.blood_sugar_fasting_2"><input matInput name=blood_sugar_fasting_2></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Blood Sugar P.P</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.blood_sugar_post_prandial_2"><input matInput name=blood_sugar_post_prandial_2></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Blood Sugar Random</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.blood_sugar_random_2"><input matInput name=blood_sugar_random_2></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Uric Acid</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.uric_acid"><input matInput name=uric_acid></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>M.P.</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.MP"><input matInput name=MP></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Widal</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.widal"><input matInput name=widal></mat-form-field>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td rowspan='5' class="test-group">Urine</td>
            <td>Albumin</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.albumin"><input matInput name=albumin></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sugar</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.sugar"><input matInput name=sugar></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Bile Salts</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.bile_salts"><input matInput name=bile_salts></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Bile Pigments</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.bile_pigments"><input matInput name=bile_pigments></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Microscopy</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.microscopy"><input matInput name=microscopy></mat-form-field>
            </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td rowspan='2' class="test-group">Stool</td>
            <td>Ova</td>
            <td>
              <mat-form-field [hidden]="!currentRequest?.ova"><input matInput name=ova></mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Cyst</td>
            <td>
              <mat-form-field [hidden]="currentRequest?.cyst"><input matInput name=cyst></mat-form-field>
            </td>
          </tr>
        </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
    <div fxLayout >
    <button  type="submit" fxFlex mat-raised-button color="warn">Submit</button>
  </div>
</form>
</div>

</div>
