<mat-card style='margin-bottom:3px'>
  <mat-card-header>
    <mat-card-title><h3>Orthopaedics</h3></mat-card-title>
    <mat-card-subtitle>Dr. Bhaskar chutya</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <i class="material-icons">access_time</i> 10:30 pm
    <i class="material-icons">insert_invitation</i> 11/11/2018


  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign='center center'>
    <button mat-raised-button color='primary'>CANCEL</button>
  </mat-card-actions>
</mat-card>
