/*.mat-card{
  padding:0;
}

.card-header{
  background-color: #2196F3;
  color:white;
  width: 100%;
  padding:20px 15px 10px 20px;
}
.card-header .card-title{
  font-weight: bolder;
  font-size:30px;
}*/
