<!-- <h1 style='text-align:center'>Greetings!</h1>

<div *ngIf="!patientSet" fxLayout='column' fxLayoutAlign='center center'>
  <mat-form-field>
    <input matInput [(ngModel)]='username' placeholder="Enter Patient username">
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="getFamily()"><mat-icon svgIcon='forward' style='height:15px;'></mat-icon></button>

  <button class='member' *ngFor="let member of family" mat-raised-button (click)="setPatient(member)">{{member.name}}</button>
</div>


<div *ngIf="patientSet" fxLayout fxLayoutAlign='center stretch' fxLayoutGap="10px">
  <app-profile-card fxFlex='30%' [bundle]="patient_details" brief='true'></app-profile-card>
  <div *ngIf='!loggedUsers$'>
    No doctors available at the moment!
  </div>
  <div *ngIf='loggedUsers$' fxLayout='column' fxLayoutAlign='space-around center' fxLayoutGap='10px'>
    <p> Available doctors are: </p>
    <mat-radio-group class="available-doctors" [(ngModel)]="selectedDoctor" name="doctorSelection">
      <mat-radio-button *ngFor="let user of loggedUsers$ | async" class="doctor-name" [value]="user.user.person.user">
        {{user.user.person.name}}
      </mat-radio-button>
    </mat-radio-group>
    {{selectedDoctor}}
    <button mat-raised-button color='primary' (click)="submitSelection()">Submit</button>
  </div>
</div> -->

<div fxFlex=50% class='left-list'>
<h1>Available Doctors in Cabin</h1>
  <status-card *ngFor='let doctor of loggedInDoctors' [doctor]='doctor'></status-card>
</div>

<div class='right-list'>
  <h1>Appointments for Approval</h1>
  <mat-card>
    <h3>Ranganath Pai</h3>
    <h4>B.Tech</h4>
     has requested for an appointment with
     <b>Dr.Strange</b> on <b>11/12/2018</b> <button mat-raised-button color='primary'>Approve</button>
  </mat-card>
</div>
