
<!-- Front side of the card (before flipped)-->
<mat-card *ngIf="!flipped" class="animated flipInX">
  <div fxLayout>
    <div fxFlex="90%" fxLayout fxLayout.xs='column' fxLayout.sm='column'>
      <div fxLayout='column' fxFlex='70%'>
        <span class='subtitle'>{{doctor?.specialization}}</span>
        <span class='title'>Dr.{{doctor?.person.name}}</span>
      </div>

      <button mat-button fxLayout='column' fxFlex='10%' class='counter' (click)="toggleShowQueue();">
        {{patients_queue.length}}
      </button >
    </div>
    <div fxFlex fxLayout='column' fxLayoutGap='5px' fxLayoutAlign='center center'>
      <button mat-raised-button color='primary' (click)="flip();">+</button>
    </div>
  </div>
</mat-card>



<!-- The Other side of the Card (when flipped) -->
<mat-card *ngIf="flipped" class="incrementor-card animated flipInX">
  <div fxLayout fxLayoutAlign='start end'>
    <div *ngIf="family.length == 0">
      <mat-form-field>
        <input matInput placeholder="Enter ID/Guest Name" [(ngModel)]='username'>
      </mat-form-field>
      <button mat-raised-button color='primary' (click)="submitGuestNameOrID();">Ok</button>
    </div>
    <div fxFlex fxLayout='column'>
      <button mat-raised-button class='member' *ngFor='let member of family' (click)="addToWaitingQueue(member);">{{member.name}}</button>
    </div>
    <button mat-raised-button color='warn' (click)="resetDefaults();flip();">Cancel</button>
    <mat-slide-toggle [disabled]="family.length != 0" [checked]="GUEST_MODE" (change)="toggleGuestMode();">Guest</mat-slide-toggle>
  </div>
</mat-card>



 <!-- collapsible waiting Queue -->
<div *ngIf='showqueue' class='animated queue zoomIn'>
  <mat-list>
    <mat-list-item *ngFor='let waiting_item of patients_queue'>
      <mat-icon mat-list-icon>person</mat-icon>
      <span mat-line>{{ _getPatientName(waiting_item) }}</span>
      <span mat-line style="float:left">{{ _getPatientType(waiting_item) }}</span>
      <button style="float:right" mat-raised-button color='warn' (click)="removeFromWaitingQueue(waiting_item);">Remove</button>
    </mat-list-item>
  </mat-list>
  <p *ngIf="patients_queue.length == 0" class="empty-list">List is Empty</p>
</div>
