<div fxLayout='column' fxLayoutGap='20px' fxLayoutAlign='center'>
  <h1 class="title">Notifications</h1>
  <div *ngFor="let notification of notifications$; let i=index">
    <div fxLayout='row' fxLayoutAlign='center center'>
      <mat-card fxFlex="50%" fxFlex.xs="100%">
        <mat-card-title>{{notification.title}}</mat-card-title>
        <mat-card-content>
          <app-p-table [pres]="notification.prescribed_drugs"
                       [prescription_id]="notification.id"
                       (completionEvent)="sendData($event, i)"></app-p-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
