<form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
  <div class="container" fxLayout='column' fxLayoutAlign='center center'>
    <mat-tab-group>
      <mat-tab label="Lab Report 1">
        <div fxLayout='column'>
          <mat-checkbox ngModel name="bloodSugarFasting">Blood Sugar -Fasting</mat-checkbox>
          <mat-checkbox ngModel name="bloodSugarRandom">Blood Sugar -Random</mat-checkbox>
          <mat-checkbox ngModel name="bloodSugarPostPrandial">Blood Sugar -Post-Prandial</mat-checkbox>
          <mat-checkbox ngModel name="serumUrea">Serum Urea</mat-checkbox>
          <mat-checkbox ngModel name="serumCreatinine">Serum Creatinine</mat-checkbox>
          <mat-checkbox ngModel name="serumCholestrol">Serum Cholestrol</mat-checkbox>
          <mat-checkbox ngModel name="HDL">HDL</mat-checkbox>
          <mat-checkbox ngModel name="LDL">LDL</mat-checkbox>
          <mat-checkbox ngModel name="TC_HDL">TC/HDL</mat-checkbox>
          <mat-checkbox ngModel name="triglycerides">Triglycerides</mat-checkbox>
          <mat-checkbox ngModel name="LFTSerumProtein">LFT Serum Protein</mat-checkbox>
          <mat-checkbox ngModel name="LFTSerumAlbumin">LFT Serum Albumin</mat-checkbox>
          <mat-checkbox ngModel name="LFTSerumGlobulin">LFT Serum Globulin</mat-checkbox>
          <mat-checkbox ngModel name="LFTA_GRatio">LFT A/G Ratio</mat-checkbox>
          <mat-checkbox ngModel name="LFTTotalBilirubin">LFT Total Bilirubin</mat-checkbox>
          <mat-checkbox ngModel name="LFTDirectBilirubin">LFT Direct Bilirubin</mat-checkbox>
          <mat-checkbox ngModel name="LFTIndirectBilirubin">LFT Indirect Bilirubin</mat-checkbox>
          <mat-checkbox ngModel name="LFTSGOT">LFT SGOT</mat-checkbox>
          <mat-checkbox ngModel name="LFTSGPT">LFT SGPT</mat-checkbox>
          <mat-checkbox ngModel name="alkalinePhosphatase">Alkaline Phosphatase</mat-checkbox>
        </div>
      </mat-tab>

      <mat-tab label="Lab Report 2">
        <div fxLayout='column'>
          <mat-checkbox ngModel name="bloodGroup">Blood Group</mat-checkbox>
          <mat-checkbox ngModel name="RH">R.H.</mat-checkbox>
          <mat-checkbox ngModel name="completeHemogram">Complete Hemogram</mat-checkbox>
          <mat-checkbox ngModel name="ESR">E.S.R.</mat-checkbox>
          <mat-checkbox ngModel name="HB">H.B.</mat-checkbox>
          <mat-checkbox ngModel name="bleedingTime">Bleeding Time</mat-checkbox>
          <mat-checkbox ngModel name="clottingTime">Clotting Time</mat-checkbox>
          <mat-checkbox ngModel name="bloodSugarFasting2">Blood Sugar -Fasting</mat-checkbox>
          <mat-checkbox ngModel name="bloodSugarPostPrandial2">Blood Sugar -P.P</mat-checkbox>
          <mat-checkbox ngModel name="bloodSugarRandom2">Blood Sugar -Random</mat-checkbox>
          <mat-checkbox ngModel name="uricAcid">Uric Acid</mat-checkbox>
          <mat-checkbox ngModel name="MP">M.P.</mat-checkbox>
          <mat-checkbox ngModel name="widal">Widal</mat-checkbox>
          <mat-checkbox ngModel name="sugar">Sugar</mat-checkbox>
          <mat-checkbox ngModel name="albumin">Albumin</mat-checkbox>
          <mat-checkbox ngModel name="bileSalts">Bile Salts</mat-checkbox>
          <mat-checkbox ngModel name="bilePigments">Bile Pigments</mat-checkbox>
          <mat-checkbox ngModel name="microscopy">Microscopy</mat-checkbox>
          <mat-checkbox ngModel name="ova">Ova</mat-checkbox>
          <mat-checkbox ngModel name="cyst">Cyst</mat-checkbox>
        </div>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button color='warn'>Submit</button>
  </div>
</form>
