<div class="container" fxLayout='column' fxLayoutAlign='space-evenly center'>

  <div fxFlex class="def-shadow shadow-container">
    <span class="heading">Medical Records </span>
    <div *ngFor="let prescription of prescriptions" >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class='prescription-header' fxLayout='row' fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='space-between'>
            <span class='indication'>{{prescription.indication}}</span>
            <span fxFlex="10%"></span>
            <span class="date">{{prescription.date_time|date:'fullDate'}}</span>
          </div>
        </mat-expansion-panel-header>
        <span>Dr.{{prescription.doctor.person.name}}</span>
                    <br/>

        <div class="drugs-container">
          <ng-container *ngIf="prescription.prescribed_drugs.length != 0">
            <table class="def-shadow ">
              <tr>
                <th>Drug</th>
                <th>Quantity</th>
                <th>Comments</th>
              </tr>
              <tr *ngFor="let prescribed_drug of prescription.prescribed_drugs ; index as i">
                <td>{{prescribed_drug.drug.trade_name}}</td>
                <td>{{prescribed_drug.quantity}}</td>
                <td>{{prescribed_drug.comments}}</td>
              </tr>
            </table>
          </ng-container>
          <div *ngIf="prescription.prescribed_drugs.length == 0" class="empty-error">
            No medicines prescribed
          </div>
        </div>
      </mat-expansion-panel>

    </div>
    <div *ngIf="prescriptions.length == 0" style="text-align:center">
      <img class="empty-image" src="assets/img/filing.jpg" />
      <div class="empty-error">
        No medical records found!
      </div>
    </div>
  </div>
</div>
