
.mat-expansion-panel { 
  margin-top:20px; 
  color:black;
  background-color: white;
}

.mat-expansion-panel-header:hover{
  background-color: #3e65b4;
  color:white !important ;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover {
  background-color: rgb(200,200,200);
  color:black;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background-color: #3e65b4;
  color:white !important;

}
.mat-expansion-panel-header{
  padding:10px 20px;
}

.prescription-header{
  width:100%;
}

span.indication{
  font-size: 20px;
  text-transform: uppercase;
}

.heading{
  font-weight: bolder;
  font-size: 25px;
}

table{
  width:100%;
  border-collapse: collapse;
}

th{
  color:white;
  background-color: #3e65b4;
  text-transform: uppercase;
  padding:10px;
}

td{
  text-align: center;
  padding:10px;
}

.empty-image {
  width:200px;
  padding:20px;
  border-radius:100%;
}
.empty-error {
  color: rgb(100,100,100);
  text-align: center;
}
.shadow-container {
  padding:20px 15%;
  margin:20px 15%;
}
.drugs-container{
  padding:20px; 
}
.container { 
  padding:20px;
}
.date {
  color: rgb(100,100,100);
}