<div class="container"
  fxLayout='column'
  fxLayoutAlign='space-around'
  fxLayoutGap="10px"
  fxFlexFill>

  <!-- Centered header -->
  <div class="row">
    <span fxFlex 
          fxFlex.xs='3'></span>
    <div class="header"
         fxFlex='50%'
         fxFlex.xs='94%'>
      <h1> HISTORY</h1>
    </div>
    <span fxFlex fxFles.xs='3'></span>
  </div>
  <hr>

  <!-- The body component with spans for centering -->
  <div *ngFor="let h_item of history"
       fxLayout>
    <span fxFlex
          fxFlex.xs='3'></span>
    <app-detail-card  
                    [diagnosis]="h_item.diagnosis"
                    [date]="h_item.date"
                    [name]="h_item.name"
                    [prescriptionList]="h_item.prescriptionList"
                    fxFlex='50%'
                    fxFlex.xs='94%'
                    >
    </app-detail-card>
    <span fxFlex
          fxFlex.xs='3'></span>
  </div>
</div>
