<div class="container" fxLayout='column' fxLayoutAlign='space-evenly center'>

  <div *ngFor="let prescription of prescriptions" style="width:50%">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class='prescription-header' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayoutAlign='space-evenly'>
          <div >
            <span>Dr.{{prescription.doctor.person.name}}</span>
            <br/>
            <span class='indication'>{{prescription.indication}}</span>
          </div>
          <span>{{prescription.date_time|date:'medium'}}</span>
        </div>
      </mat-expansion-panel-header>
      <table>
        <tr>
          <th>Drug</th>
          <th>Quantity</th>
          <th>Comments</th>
        </tr>
        <tr *ngFor="let prescribed_drug of prescription.prescribed_drugs ; index as i">
          <td>{{prescribed_drug.drug.trade_name}}</td>
          <td>{{prescribed_drug.quantity}}</td>
          <td>{{prescribed_drug.comments}}</td>
        </tr>
      </table>
    </mat-expansion-panel>
  </div>
</div>
