button{
  background-color:#002f6c;
  color:white;
  font-size:12px;
  width:100%;
}


span.name{
  font-size:15px;
}
span.specialization{
  font-size:20px;
  font-weight: lighter;
}
span.indication{
  padding:5px;
  font-size:20px;
  font-weight: 600;
  color:black;
  background-color: white;
  border-radius: 2px;
}
