<div fxLayout='row' fxLayout.xs='column'>

<div class="def-shadow padded-container" fxFlex='30%'>
  <h3>View Booked Appointments</h3>
  <div *ngIf="isApptsEmpty()">
    <p class="small-grey-text">No booked appointments.</p>
  </div>
  <div *ngFor="let appts of appts$">
    <mat-card *ngFor="let appt of appts" [ngClass]="appt.status">
      <!-- {{appt | json}} -->
      <mat-card-header>
        <mat-card-title>
          {{appt.appointment.doctor.specialization}}
        </mat-card-title>
        <mat-card-subtitle>
          {{appt.patient_data.name}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout='column'>
          <div fxLayout='row' fxLayoutAlign='space-between'>
            <span>{{appt.appointment.doctor.person.name}}</span>
            <span>{{appt.appointment.date | date:'mediumDate'}}</span>
          </div>
          <div fxLayout='row' fxLayoutAlign='space-between'>
            <span> {{appt.appointment.start_time | date:'shortTime'}} - {{appt.appointment.end_time | date: 'shortTime'}}</span>
            <span>Status: {{getStatus(appt.status)}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class='def-shadow padded-container' fxFlex='50%'>
<app-book-appointment (slotBooked)="onSlotBooked($event)"></app-book-appointment>
</div>
</div>
