<div class='container' fxLayout fxLayout.xs='column' fxlayout.sm='column' fxLayoutAlign='center center'>
  <span fxFlex></span>

  <div fxFlex='40%' class="header">
    <div>Welcome to <span>NITK HCC</span></div>
  </div>

 <!-- Main Login div-->
  <div *ngIf='!user_verified' fxFlex='25%' class='login'>
    <form fxLayout='column' (ngSubmit)="onLogin()" novalidate>
      <mat-form-field>
        <input matInput type="text" id="username" placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" id="password" placeholder="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <button mat-raised-button color='primary' type="submit">Login</button>
    </form>
  </div>

 <!-- After user is verified, choose the profile (if EMPLOYEE or DEPENDANT only) -->
  <div *ngIf='user_verified' fxLayout='column'>
    <button mat-raised-button class='member' *ngFor='let member of family' (click)='setProfile(member)'>{{member.name}}</button>
  </div>
  <span fxFlex></span>
</div>
