<div class='container' fxLayout fxLayout.xs='column' fxlayout.sm='column' fxLayoutAlign='center center'>
  <span fxFlex></span>

  <div fxFlex='40%' class="header">
    <div>Welcome to <span>NITK HCC</span></div>
  </div>


  <div fxFlex='25%' class='login'>
    <form fxLayout='column' (ngSubmit)="onLogin()" novalidate>
      <mat-form-field>
        <input matInput type="text" id="username" placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" id="password" placeholder="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <button mat-raised-button color='primary' type="submit">Login</button>
    </form>
  </div>
  <span fxFlex></span>
</div>
