<mat-expansion-panel>
  <mat-expansion-panel-header collapsedHeight="100px">
    <mat-panel-title>{{diagnosis}}</mat-panel-title>
    <mat-panel-description>{{date | date:"fullDate"}}</mat-panel-description>
  </mat-expansion-panel-header>
  <hr>
  <span class="name">{{name}}</span>
  <table [class.prescription-table]="'true'">
    <tr>
      <th></th>
      <th>Drug</th>
      <th>Quantity</th>
      <th>Schedule</th>
      <th>Extras</th>
    </tr>
    <ng-container *ngFor="let prescription of prescriptionList ; index as i" >
      <tr>
        <td>{{i+1}}</td>
        <td>{{prescription.drugname}}</td>
        <td>{{prescription.quantity}}</td>
        <td>{{prescription.schedule}}</td>
        <td>{{prescription.comments}}</td>
      </tr>
    </ng-container>
  </table>
</mat-expansion-panel>
