<mat-card>
  <mat-card-header>
    <div>
      <h1>Dhiraj Bhakta K</h1>
      <h4>Student</h4>
    </div>
  </mat-card-header>

  <div>
    <table>
      <tr>
        <td><mat-icon svgIcon='birthday_cake' style='height:15px'></mat-icon>Birth date:</td>
        <td>{{bundle.birthdate}}</td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='gender' style='height:15px'></mat-icon>Gender :</td>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='drop' style='height:15px;'></mat-icon>Blood Group :</td>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='phone' style='height:15px'></mat-icon>Phone number :</td>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='phone' style='height:15px'></mat-icon>Guardian Phone number :</td>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='home' style='height:15px'></mat-icon>Local Address :</td>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='home' style='height:15px'></mat-icon>Permanent Address :</td>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='school' style='height:15px'></mat-icon>Course :</td>
        <td></td>
      </tr>
      <tr>
        <td><mat-icon svgIcon='domain' style='height:15px'></mat-icon>Department :</td>
        <td></td>
      </tr>

      <tr>
        <td>Allergic To :</td>
        <td></td>
      </tr>
    </table>
  </div>
</mat-card>
