<mat-card>
  <div fxLayout>
    <div fxFlex="90%" fxLayout fxLayout.xs='column' fxLayout.sm='column'>
      <div fxLayout='column' fxFlex='50%'>
        <span *ngIf='bundle.subtitle' class='subtitle'>{{bundle.subtitle}}</span>
        <span *ngIf='bundle.title' class='title'>{{bundle.title| uppercase}}</span>
      </div>
      <div fxFlex fxLayout='column'>
        <span *ngIf='bundle.time'><mat-icon svgIcon='access_time' style='color:white; height:15px'></mat-icon>{{bundle.time}}</span>
        <span *ngIf='bundle.date'><mat-icon svgIcon='date_range'  style='color:white; height:15px'></mat-icon>{{bundle.date| date}}</span>
      </div>
    </div>
    <div fxFlex fxLayout='column' fxLayoutGap='5px' fxLayoutAlign='center center'>
      <button *ngIf='canCancel' mat-raised-button color='primary' (click)="triggerCancel()">CANCEL</button>
      <button *ngIf='canConfirm' mat-raised-button color='warn' (click)="triggerConfirm()">CONFIRM</button>
    </div>
  </div>
</mat-card>
