
<div fxLayout="row" fxFlex fxFlexFill>
  <div fxLayout="column" fxFlex="20%" class="def-shadow main-container sidenav">
    <mat-nav-list>
      <h3 matSubheader>Appointments</h3>
      <mat-list-item>Create an Appointment Date</mat-list-item>
      <mat-list-item>View and Edit Appointment Dates</mat-list-item>
      <mat-list-item>Appointment Dates Generator</mat-list-item>
    </mat-nav-list>
  </div>

  <div fxLayout="row" class="def-shadow main-container" fxLayoutAlign="center center" fxFlex>
    <app-create-appointment></app-create-appointment>
  </div>
</div>
