<div class="def-shadow padded-container">
  <h3>Create Dependant</h3>
  <div fxLayout="column">
    <div fxLayout="row">
      <mat-form-field>
        <input matInput placeholder="Enter patron's id" [(ngModel)]="patron_id"
          >
      </mat-form-field>
      <button mat-button color='primary' (click)="verifyPatron()">VERIFY</button>
    </div>
    <div fxLayout="column" *ngIf="patron">
      <mat-form-field>
        <input matInput placeholder="Enter dependant's name" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field fxFlex="50%">
        <mat-select placeholder="Select Blood Group" [(ngModel)]="blood_group">
          <mat-option value="A+">A+</mat-option>
          <mat-option value="A-">A-</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="B-">B-</mat-option>
          <mat-option value="AB+">AB+</mat-option>
          <mat-option value="AB-">AB-</mat-option>
          <mat-option value="O+">O+</mat-option>
          <mat-option value="O-">O-</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Select Gender" [(ngModel)]="gender">
          <mat-option value="MALE">Male</mat-option>
          <mat-option value="FEMALE">Female</mat-option>
          <mat-option value="OTHER">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Select date" [(ngModel)]="birth_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-button color='primary' (click)='submitData()'>SUBMIT</button>
    </div>
    <app-show-errors [errors]="errors" [success]="success"></app-show-errors>

  </div>
</div>
