
table{
    text-align: center;
}

div.indication-container{
  background-color: #75b4fc;
  color:white;
}
.indication{
  background-color: white;
  color:black;
  border:1px solid black;
  border-radius: 2px;
}
.input{
  width:100%;
}
