input.auto-complete{
  width:200px;
  height:20px;
  float:left;
  border-bottom:1px solid gray;
}
ul{
  list-style: none;
  text-align: left;
  padding-left: 0px;
}
li{
  padding:10px 10px 10px 10px;
  text-align:left;
  font-weight: lighter;
  color:black;
  margin:1px;
}

li:hover{
  background-color: rgba(200,200,200, 0.32);
  cursor:pointer;
}
